
#  Knn
## Airbnb 放假预测任务

### 读取数据
---

In [5]:
import pandas as pd

features = ['accommodates','bedrooms','bathrooms','beds','price','minimum_nights','number_of_reviews']
dc_listings = pd.read_csv('listings.csv')

dc_listings = dc_listings[features]
print(dc_listings.shape)
dc_listings.head()

(3723, 7)

,accommodates,bedrooms,bathrooms,beds,price,minimum_nights,number_of_reviews
0,4,1.0,1.0,2.0,$160.00,1,0
1,6,3.0,3.0,3.0,$350.00,2,65
2,1,1.0,2.0,1.0,$50.00,2,1
3,2,1.0,1.0,1.0,$95.00,1,0
4,4,1.0,1.0,1.0,$50.00,7,0

#### 数据特征：
- accommodate:可以容纳的旅客的数量
- bedroom
- bathroom
- ...

### 如果我有一个三个房间的房子，我能租多少钱？

<img src="2.png" style="width:600px;height:230px;float:left">

#### k代表我们的候选的对象个数

## K近邻原理

<img src="3.png" style="width:600;height:230;float:left">

<img src="4.png" style="width:600;height:230;float:left">

<img src="5.png" style="width:600;height:230;float:left">

### 距离的定义
如何才能知道哪些数据样本跟我最近

<img src="6.png" style="width:600;height:230;float:left">

 假设我有三个房间的房子

In [7]:
import numpy as np

our_acc_value = 3
dc_listings['distance'] = np.abs(dc_listings.accommodates - our_acc_value)
dc_listings.distance.value_counts().sort_index()

0      461
1     2294
2      503
3      279
4       35
5       73
6       17
7       22
8        7
9       12
10       2
11       4
12       6
13       8
Name: distance, dtype: int64

这里我们用了绝对值来计算，和我们距离为0的样本有 461条

sample操作可以得到洗牌后的数据

In [8]:
dc_listings = dc_listings.sample(frac=1,random_state=0)
dc_listings = dc_listings.sort_values('distance')
dc_listings.price.head()

2645     $75.00
2825    $120.00
2145     $90.00
2541     $50.00
3349    $105.00
Name: price, dtype: object

现在的问题是，这里面的价格是字符串类型，需要装换一下

In [9]:
dc_listings['price'] = dc_listings.price.str.replace("\$|,",'').astype(float)
mean_price = dc_listings.price.iloc[:5].mean()
print(mean_price)

88.0

得到了平均价格，也就是我们房子的大致价格了


# 模型的评估
---

<img src="7.png" style="width:600;height:230;float:left">

首先制定好训练集和测试卷